*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-style: normal;
}
body{
    height: 100vh;
    
    

}
li{
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(50, 5, 84);
    font-size: 1rem;
    padding: 0 10px;
    position: relative; 
}

a:not(.action-btn):not(.logo):after { 
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #ff7700;
    transition: width 0.3s; /
}

a:not(.action-btn):not(.logo):hover:after { 
    width: 100%;
}


/* HEADER */
header{
    position: relative;
    padding: 0 4rem;
}

.navbar{
    
    width: 100%;
    height: 60px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.logotipo{
    width: 45%;
    max-width: 300px;
}


.links{
    font-weight: bold;
    display: flex;
    gap: 2rem;
}
.toggle-btn{
    
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.head-rgt {
    display: flex;
    gap: 2rem;
    position: relative;
}

.head-rgt::after {
    content: attr(data-content);
    height: 1.7rem;
    width: 2.7rem;
    padding: 0.1rem 0.15rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    border-radius: 10px;
    background-color: var(--orange);
    position: absolute;
    top: -0.5rem;
    left: -1rem;
    display: var(--display, none);
  }
.head-rgt__img {
    height: 3rem;
    width: 3rem;
    border-radius: 100px;
    border: 0.3rem solid transparent;
    cursor: pointer;
}



  .head-rgt__btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  
  .action-btn{
    background-color: rgb(50, 5, 84);
    height: 20px;
    display: flex;
    align-items: center;
    color: white;
    padding: 0.5rem 2.5rem;
    border:none;
    outline: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;

}
.action-btn:hover{
    scale: 1.05;
    background-color: #D37625;
}

.action-btn:active{
    scale: 0.95;
}



.dropdown-menu {
    display: none;
    position: absolute;
    right: 1rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(208, 208, 208, 0.1);
    backdrop-filter: blur(45px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000; 
  }
.dropdown-menu.open{
    height: 180px;
}
.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin: 150px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:40px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    display: grid;
    height: 250px;
    width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    background-image: url(../images/productos/inicio/Fondo\ productos.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
    
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    
  }

  @media(max-width: 955px){
    .navbar .links,
    .navbar .head-rgt{
        display: none;
    }

    .navbar  .toggle-btn,
    .dropdown-menu{
        display: block;
    }

    
}

@media(max-width: 520px){
    .dropdown-menu{
        left: 1rem;
        width: unset;
    }

}








#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 50%;
    margin-right: 50px;
    margin-left: 50px;
    
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    margin-top: 30px;
    flex-basis: 23%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

article h2, h3{
    font-size: 2.65rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #240046;
    text-align: left;
    
}
#prodetails .single-pro-details h6{
    font-size: 20px;
    color: #240046;
}

#prodetails .single-pro-details h2{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h3{
    padding-bottom: 20px;
}


#prodetails .single-pro-details button{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
} 

#prodetails .single-pro-details span{
    line-height: 30px;
    font-size: 25px;
}
#prodetails .single-pro-details h5{
    text-align: right;
    padding: 40px 0px 20px 0px;
    margin-right: 200px;
    font-size: 22px;
    color: #240046;
    
}


.btn{
    
    width: 160px;
    color: #fff;
    margin: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    height: 45px;
    border: none;
    border-radius: 50px;
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    background-position: 100% 0;
}
.btn:focus{
    outline: none;
}
.gradient{
            background-image: linear-gradient(to right, #ff7700, #561C37, #A9491C, #8F34E4);
            box-shadow: 0 4px 15px 0 rgba(216, 186, 104, 0.75);
}


article .wish-share .flex-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}
article .wish-share a{
    text-transform: uppercase;
    transition: var(--white);
    
}
article .wish-share .flex-item li{
    margin: 0 10px;
    
}
article .wish-share .flex-item li strong{
    font-size: 14px;
}

article .opinion {
    padding: 40px 0 20px 0;
    line-height: 30px;
    
}


article .opinion .fa-star{
    color: #240046;
    font-size: 18px;
}

article .opinion span{
    color: #240046;
    line-height: 30px;
}
article .opinion p {
    line-height: 30px;
    font-size: 21px;
}

article .opinion strong {
    color: #240046;
    font-size: 20px;
}

article .opinion .mini-letra{
    color: grey;
    font-size: 18px;
}

.information p{
    color: black;
    font-size: 20px;
}

.list__item{
    margin-bottom: 40px;
    overflow: hidden;
}


.nav__link--inside{
    border-radius: 6px;
}
.nav__link--inside:hover{
    background: #F6F8FA;
}
.description{
    margin-top: 50px;
}
.description .list__item--click{
    cursor: pointer;
}
.list__button{
    color: #240046;
    gap: 1em;
    width: 70%;
    
}
.list__button p{
    color: #240046;
    font-size: 28px;
    gap: 1em;
    width: 70%;
    
}
.arrow .list__arrow{
    transform: rotate(90deg);
}
.list__arrow{
    margin-right: auto;
    transition: transform .3s;
}

.list__show{
    padding-left: 15px;
    font-size: 20px;
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    list-style: none;
    transition: height .4s;
    height: 0;
}
.second-title .title-options{
    color: #240046;
    font-size: 50px;
    text-align: center;
}
.footer{
    width: 100%;
    background-image: linear-gradient(to right, #ff7700, #561C37, #A9491C, #8F34E4);
    box-shadow: 0 4px 15px 0 rgba(216, 186, 104, 0.75);
}

.footer .group1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .group1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.footer .group1 .box figure img{
    width: 250px;
}

.footer .group1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .group1 .box  p{
    color: #fff;
    margin-bottom: 10px;

}
.footer .group1 .social a{
    display: inline-block;
    text-decoration: none;
    font-size: 40px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}
.footer .group1 .social a:hover{
    color: aqua;
}

.footer .group2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.footer .group2 small {
   font-size: 15px;
}

@media screen and (max-width:800px){
    .footer .group1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
} 

@media (max-width: 477px){
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }
    
}