*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-style: normal;
}
body{
    height: 100vh;


}
li{
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(50, 5, 84);
    font-size: 1rem;
    padding: 0 10px;
    position: relative; 
}

a:not(.action-btn):not(.logo):after { 
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #ff7700;
    transition: width 0.3s; /
}

a:not(.action-btn):not(.logo):hover:after { 
    width: 100%;
}


/* HEADER */
header{
    position: relative;
    padding: 0 4rem;
}

.navbar{
    
    width: 100%;
    height: 60px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.logotipo{
    width: 45%;
    max-width: 300px;
}


.links{
    font-weight: bold;
    display: flex;
    gap: 2rem;
}
.toggle-btn{
    
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action-btn{
    background-color: rgb(50, 5, 84);
    height: 20px;
    display: flex;
    align-items: center;
    color: white;
    padding: 0.5rem 2.5rem;
    border:none;
    outline: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;

}
.action-btn:hover{
    scale: 1.05;
    background-color: #D37625;
}

.action-btn:active{
    scale: 0.95;
}

.btn{
    width: 160px;
    color: #fff;
    margin: 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    height: 45px;
    border: none;
    border-radius: 50px;
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    background-position: 100% 0;
}
.btn:focus{
    outline: none;
}
.gradient{
            background-image: linear-gradient(to right, #ff7700, #561C37, #A9491C, #8F34E4);
            box-shadow: 0 4px 15px 0 rgba(216, 186, 104, 0.75);
}




.dropdown-menu{
    display: none;
    position: absolute;
    right: 1rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(208, 208, 208, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}
.dropdown-menu.open{
    height: 180px;
}
.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* SECTION */

section{
    padding: 5rem 4rem;
    display: grid;
    gap:2rem;
    justify-items: center;
    align-items: center;
    padding-bottom: 3rem;
    
}

section img{
    width: 100%;
    max-width: 28rem;
}

section article{
    text-align: center;
    margin-top: calc(1.5rem/* 24px */ * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem/* 24px */ * var(--tw-space-y-reverse));
    
}

article h1{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #240046;
    text-align: left;
    
}

section p{
    padding: 2rem 0;
    color: rgb(51 65 85 / var(--tw-text-opacity));
    text-align: left;
    
}
/* FOOter */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    
  }

  svg {
    display: block;
  }

@media(max-width: 955px){
    .navbar .links,
    .navbar .action-btn{
        display: none;
    }

    .navbar  .toggle-btn,
    .dropdown-menu{
        display: block;
    }

    
}

@media(max-width: 520px){
    .dropdown-menu{
        left: 1rem;
        width: unset;
    }

}

@media(min-width: 768px){
    section{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        
    }

    section img{
           
        order: 1;
    
    }
    section h1{
        font-size: 3rem/* 48px */;
        line-height: 1;
    }
}
